<div id="individuals" class="container" >
<div class="inner cf" style="padding-top: 100px;">
  
  <p>The following are a list of SMS messages you can send to paywithbits in order to get more detailed information about you account. Currently you can get balance information as well as send and request payments from anyone over SMS. As more features and actions become available, they will be recorded here.</p>
  <br/>
  
  <div class="fl" style="width:300px; margin-right: 20px; text-align: right;">
   <pre>
     Requested Action:
    
     <strong>Balance Information</strong>
   
     <strong>Send Payment</strong>
   
     <strong>Request Payment</strong>
   
   </pre>
    
  </div>
  
  <div class="fl" style="width:580px;">
    <pre>
      SMS:

      balance

      send [amount] to [phone-number] for [item]

      request [amount] from [phone-number] for [item]

    </pre>
  </div>



</div>
</div>
