<div id="hero" class="container">
  <div class="inner">
    <h2>
      Get Paid. <br/>
      at Anytime. <br/>
      from Anywhere. <br/>
      by Anyone. 
    </h2>
    <a href="#">Get Started</a>
  </div>
</div>
