<!DOCTYPE html>
<html>
<head>
  <title>Bits</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<header class="container">
  <div class="inner cf">
  <h1 class="fl">BITS</h1>
  <ul class="fr">
    <li>
      <a href="#">login</a>
    </li>
    <li>
      <a href="#">register</a>
    </li>
  </ul> 
  </div>
</header>

<%= yield %>

</body>
</html>
